.generate-reports-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 120px;
  }
  
  .generate-reports-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .chart-container {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    background: var(--chart-container-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .light-mode {
    --background-color: rgba(255, 255, 255, 0.8);
    --text-color: black;
    --chart-container-bg: rgba(245, 245, 245, 0.8);
  }
  
  .dark-mode {
    --background-color: #1a1a1a;
    --text-color: white;
    --chart-container-bg: rgba(50, 50, 50, 0.9);
  }
  