.createTrip {
  font-family: 'Arial', sans-serif;
  background-color: rgba(197, 195, 219, 0.8);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 800px;
  margin: 170px auto;
  color: #333;
  text-shadow: 2px 2px 5px rgb(92, 91, 91);
}

.section-container {
  margin-bottom: 20px;
  padding: 15px;
  background: rgba(197, 195, 219, 0.9);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #3c0058; 
}

.calendar{
  margin-bottom: 20px;
  margin-left: 17px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.dark .section-container{
  background: rgba(48, 47, 47, 0.9);
  color: #d6d6d7;  
}

.section-container:last-child {
  margin-bottom: 0;
}

.dark .createTrip {
  background: rgba(60, 60, 60, 0.9);
  text-shadow: 2px 2px 5px rgb(14, 14, 14);
  color: #ddd;
}

.title {
  text-align: center;
  font-size: 2.8rem;
  color: #2d0c55;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgb(68, 68, 68);
}


.dark .title {
  color:hsl(0, 0%, 100%);
  text-shadow: 2px 2px 5px rgb(14, 14, 14);
}

.subtitle{
  text-align: left;
  font-size: 1.7rem;
  color: #2d0c55;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgb(68, 68, 68);
}

.dark .subtitle {
  color:hsl(0, 0%, 100%);
}


input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgba(91, 44, 157, 0.5);
  background-color: rgba(232, 231, 246, 0.8);
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.dark input {
  background-color: rgba(53, 53, 53, 0.8);
  text-shadow: 2px 2px 5px rgb(14, 14, 14);
  color: #fff;
}

.save-trip-btn {
  background: linear-gradient(90deg, #007bff, #6a5acd);
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
  margin-top: 10px;
  margin-left: 325px;
}

.save-trip-btn:hover{
  background: linear-gradient(90deg, #0056b3, #483d8b);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.calendar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-datepicker {
  width: 600px;
  margin-left: -15px;
  background-color: rgba(91, 44, 157, 0.8);
  border-radius: 12px; 
  border: 1px solid rgba(91, 44, 157, 0.5);
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  font-size: 13px; 
  z-index: 10;
}

.dark .react-datepicker{
  background-color: rgba(53, 53, 53);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.light .react-datepicker__current-month--hasYearDropdown,
.light .react-datepicker__current-month--hasMonthDropdown{
  color: #3c0058; 
  font-size: 2rem;
}

.dark .react-datepicker__current-month--hasYearDropdown,
.dark .react-datepicker__current-month--hasMonthDropdown{
  color: white; 
  font-size: 2rem;
}

.react-datepicker__navigation-icon, 
.react-datepicker__navigation-icon--next{
  margin-right: 23px;
  z-index: 1000;
}


.react-datepicker__header {
  border-bottom: 1px solid rgba(91, 44, 157, 0.5);
  font-size: 1.2rem;
  border-radius: 12px 12px 0 0;
  padding: 10px;
  width: 550px;
  object-fit: cover;
}

.dark .react-datepicker__header {
  background-color: #1f1e1e;
  color: white;
}

.react-datepicker__day,
.react-datepicker__day-name {
  width: 1000px; 
  padding: 35px;
  height: 50px;
  line-height: 50px;
  margin: 5px;
  text-align: center;
  font-size: 1.2rem;
  color: #2d0c55;
  background-color: rgba(197, 195, 219, 0.8); 
  border-radius: 8px; 
  transition: all 0.3s ease;
}

.dark .react-datepicker__day,
.dark .react-datepicker__day-name {
  background-color: rgba(47, 47, 49, 0.7);
  color: #fff;
}

.light .react-datepicker__day--selected {
  background-color: rgba(91, 44, 157, 0.5); 
  color: rgb(28, 27, 27);
}

.dark .react-datepicker__day--selected{
  background-color: rgba(91, 44, 157, 0.5); 
  color: rgb(255, 255, 255);
}


.light .react-datepicker__day--in-range {
  background-color: rgba(91, 44, 157, 0.5);
  color: rgb(28, 27, 27);
}

.dark .react-datepicker__day--in-range{
  background-color: rgba(91, 44, 157, 0.5);
  color: rgb(255, 255, 255);
}

.react-datepicker__month-dropdown-container,
.react-datepicker__year-dropdown-container {
  font-size: 20px;
}
