.trip-container {
    margin-top: 140px;
    font-family: Arial, sans-serif;
    background: rgba(197, 195, 219, 0.5);
    color: #2d0c55;
    border-radius: 12px;
    width: 700px;
    text-align: center;
}

.dark .trip-container {
    background: rgba(60, 60, 60, 0.9);
}

.trip-expenses-list {
    list-style-type: none; 
}

.trip-destination {
    margin-bottom: 15px;
}

.expenses-title {
    margin-bottom: 15px;
}

.inline-fields {
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }
  
  .trip-expenses-list li {
    margin-bottom: 15px;
  }

  .inline-fields input {
    width: 48%;
  }
  
  .description-expense {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: rgba(221, 219, 244, 0.5);
    
  }

  .dark .description-expense {
    background: rgba(60, 60, 60, 0.9);
    color: white;
  }
  
  .buttons-expenses {      
    display: flex;  
    flex-direction: column;    
    gap: 20px;                  
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .generate-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    white-space: nowrap;   
    text-align: center;
    background: linear-gradient(90deg, #007bff, #6a5acd);  
    transition: background-color 0.3s ease; 
    text-align: center;
  }
  
  button.generate-button:hover {
    background: linear-gradient(90deg, #4f449b, #5d5db3);
    transform: scale(1.03);
  }

  .report-text{
    margin-bottom: 15px;
  }