.my-trips-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: rgba(197, 195, 219, 0.5);
  color: #2d0c55;
  min-height: 100vh;
  width: 550px;
  margin-top: 150px;
  border-radius: 12px;
}

.dark .my-trips-container{
  background: rgba(60, 60, 60, 0.9);
  color: #d6d6d7; 
}

.my-trips-title {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #2d0c55;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dark .my-trips-title {
  color: #ffffff;
}

.inviting_friend{
  background: linear-gradient(90deg, #007bff, #6a5acd);
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
  margin-top: 10px;
}

.inviting_friend:hover{
  background: linear-gradient(90deg, #0056b3, #483d8b);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.trip-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(197, 195, 219, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.dark .trip-item{
  background: rgba(48, 47, 47, 0.9);
}

.trip-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.trip-info h3 {
  margin: 0;
  font-size: 24px;
  color: #2d0c55;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.dark .trip-info h3{
  color: white;
}

.trip-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #2d0c55;
}

.dark .trip-info p{
  color: white;
}

.trip-cost {
  font-size: 18px;
  font-weight: bold;
  color: #27ae60;
  background: rgba(0, 0, 0, 0.3);
  padding: 8px 12px;
  border-radius: 8px;
}

.see-more-arrow {
  font-size: 24px;
  color: #3498db;
  cursor: pointer;
  margin-left: 15px;
  transition: color 0.3s;
}

.see-more-arrow:hover {
  color: #2980b9;
}

.add-trip-button {
  display: block;
  margin: 40px auto;
  padding: 15px 30px;
  font-size: 18px;
  color: #ffffff;
  background: linear-gradient(90deg, #007bff, #6a5acd);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, box-shadow 0.3s;
}

.add-trip-button:hover {
  background: linear-gradient(90deg, #0056b3, #483d8b);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
