.handle_request_button{
    background: linear-gradient(90deg, #007bff, #6a5acd);
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    margin-top: 10px;
}

.handle_request_buttonhover{
    background: linear-gradient(90deg, #0056b3, #483d8b);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }