@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  background-image: url('assets/var5.jpg');
  background-size: cover;
  background-attachment: fixed; /* Add this property */
  transition: 0.5s;
}

.container.dark {
  background-image: url('assets/var8.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* Add this property */
}

*::-webkit-scrollbar {
  width: 0.7vw;
}

*::-webkit-scrollbar-track {
  background: rgb(211, 211, 211);
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #cc57de, #190a62);
  border-radius: 2vw;
}

.MyProfile, .MyTrips, .GenerateReports {
  display: flex;
  height: 90vh;
  justify-content: center;
  font-size: 3rem;
}
